@using WalletTracker.Application.Expense
@model WalletTracker.Application.Expense.Commands.EditExpenseById.EditExpenseByIdCommand

@{
    ViewData["Title"] = "Edit expense";
    var today = DateOnly.FromDateTime(DateTime.UtcNow).ToString("yyyy-MM-dd");
}

<div class="container col-xl-10 col-xxl-10 px-4 py-5">
    <div class="row align-items-center">
        <div class="col-md-10 mx-auto col-lg-6 p-4 rounded-3 form-column">
            <form id="expenseForm" asp-action="Edit" method="post">
                <h2 class="form-header">Edit expense</h2>
                <hr />
                <div class="form-floating mb-3">
                    <input asp-for="Amount" class="form-control" placeholder="amount" />
                    <label asp-for="Amount" class="control-label">Amount</label>
                    <span asp-validation-for="Amount" class="text-danger" id="amountSpan"></span>
                </div>
                <div class="form-floating mb-3">
                    <input asp-for="ExpenseDate" type="date" class="form-control" placeholder="Date"
                           value="@Model.ExpenseDate.ToString("yyyy-MM-dd")" >
                    <label asp-for="ExpenseDate" class="control-label">Date</label>
                    <span asp-validation-for="ExpenseDate" class="text-danger" id="expenseDateSpan"></span>
                </div>
                <div class="form-floating mb-3">
                    <select asp-for="PaymentId" asp-items="@(new SelectList(Model.UserPaymentMethodDtos,
                        nameof(PaymentMethodAssignedToUserDto.Id),
                        nameof(PaymentMethodAssignedToUserDto.Name)))"
                            class="form-select form-select-md">
                        <option value="0">Please select one</option>
                    </select>
                    <label asp-for="PaymentId">Payment method</label>
                    <span asp-validation-for="PaymentId" class="text-danger" id="paymentIdSpan"></span>
                </div>
                <div class="form-floating mb-3">
                    <select asp-for="CategoryId" asp-items="@(new SelectList(Model.UserCategoryDtos,
                        nameof(ExpenseCategoryAssignedToUserDto.Id),
                        nameof(ExpenseCategoryAssignedToUserDto.Name)))"
                            class="form-select form-select-md">
                        <option value="0">Please select one</option>
                    </select>
                    <label asp-for="CategoryId">Category</label>
                    <span asp-validation-for="CategoryId" class="text-danger" id="categoryIdSpan"></span>
                </div>
                <div class="form-floating mb-3">
                    <textarea asp-for="Comment" class="form-control"
                              placeholder="Comment" maxlength="25"></textarea>
                    <label asp-for="Comment">Comment</label>
                </div>
                <button id="expenseSubmit" type="submit" class="w-100 btn btn-lg btn-primary mb-2">Save changes</button>
                <a class="back" asp-action="Index">Back to balance</a>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }

    <script src="~/js/replaceDotsToCommas.js"></script>
    <script src="~/js/amountValidation.js"></script>
    <script src="~/js/dateValidation.js"></script>
    <script src="~/js/expenseFormValidation.js"></script>
}