html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
    background-color: #f8f8f8;
    margin-bottom: 60px;
}

.form-header {
    text-align: center;
}

.form-column {
    background-color: white;
}

.remember-me {
    box-shadow: none !important;
    outline: none !important;
}
.register-button {
    background-color: rgb(46, 192, 46);
    border-color: rgb(46, 192, 46);
}

.register-button:hover {
    background-color: rgb(61, 177, 61) !important;
    border-color: rgb(46, 192, 46) !important;
}

.register-button:focus,
.register-button:active {
    background-color: rgb(46, 148, 46) !important;
    border-color: rgb(46, 192, 46) !important;
}

.btn-primary, .btn-danger {
    box-shadow: none !important;
}

.register-text {
    text-align: center;
}

a {
    text-decoration: none;
}
