html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
    background-color: #f8f8f8;
    margin-bottom: 60px;
}

.form-header {
    text-align: center;
}

.form-column {
    background-color: white;
}

.remember-me, .activate-limit {
    box-shadow: none !important;
    outline: none !important;
}
.register-button {
    background-color: rgb(46, 192, 46);
    border-color: rgb(46, 192, 46);
}

.register-button:hover {
    background-color: rgb(61, 177, 61) !important;
    border-color: rgb(46, 192, 46) !important;
}

.register-button:focus,
.register-button:active {
    background-color: rgb(46, 148, 46) !important;
    border-color: rgb(46, 192, 46) !important;
}

.btn-primary, .btn-danger {
    box-shadow: none !important;
}

.register-text {
    text-align: center;
}

a {
    text-decoration: none;
}

.btn-link {
    box-shadow: none !important;
}

textarea {
    resize: none;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"] {
    -moz-appearance: textfield;
}

.balance-date {
    font-size: 80%;
    background-color: #f9f9f9 !important;
}

.table-container {
    background-color: white !important;
}

.table-balance {
    box-shadow: none;
}

tr td:last-child {
    width: 1%;
    white-space: nowrap;
}

.comment {
    color: #6f6f6f !important;
}

.table-balance {
    font-size: .85rem;
}

.payment-method {
    font-size: 80%;
    color: #6f6f6f;
}

.icon-form {
    display: inline;
}

.icon-button-form {
    border: none;
    background: none;
    cursor: pointer;
}

.back {
    text-decoration: underline;
}

.balance-green, .moneyLeftPlus {
    color: limegreen !important;
}

.balance-red, .moneyLeftMinus {
    color: red !important;
}

.hide-class {
   display: none;
}