@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Forgot password confirmation";
}


<div class="container col-xl-10 col-xxl-10 px-4 py-5">
    <div class="row align-items-center text-center">
            <h1>Forgot password confirmation</h1>
            <p>
                Please check your email to reset your password.
            </p>
    </div>
</div>