@using WalletTracker.Application.Income
@using WalletTracker.Application.Income.Commands.CreateIncome

@model CreateIncomeCommand

@{
    ViewData["Title"] = "Add income";
    var today = DateOnly.FromDateTime(DateTime.UtcNow).ToString("yyyy-MM-dd");
}

<div class="container col-xl-10 col-xxl-10 px-4 py-5">
    <div class="row align-items-center">
        <div class="col-md-10 mx-auto col-lg-6 p-4 rounded-3 form-column">
            <form id="incomeForm" asp-action="Create" method="post">
                <h2 class="form-header">Add income</h2>
                <hr />     
                <div class="form-floating mb-3">
                    <input asp-for="Amount" class="form-control" placeholder="amount"/>
                    <label asp-for="Amount" class="control-label">Amount</label>
                    <span asp-validation-for="Amount" class="text-danger" id="amountSpan"></span>
                </div>
                <div class="form-floating mb-3">
                    <input asp-for="IncomeDate" type="date" class="form-control" placeholder="Date"
                           value="@Model.IncomeDate.ToString("yyyy-MM-dd")" min="2000-01-01" max="@today">
                    <label asp-for="IncomeDate" class="control-label">Date</label>
                    <span asp-validation-for="IncomeDate" class="text-danger" id="incomeDateSpan"></span>
                </div>
                <div class="form-floating mb-3">
                    <select asp-for="CategoryId" asp-items="@(new SelectList(Model.UserCategoryDtos,
                        nameof(IncomeCategoryAssignedToUserDto.Id), 
                        nameof(IncomeCategoryAssignedToUserDto.Name)))"
                            class="form-select form-select-md">
                        <option value="0">Please select one</option>
                    </select>
                    <label asp-for="CategoryId">Category</label>
                    <span asp-validation-for="CategoryId" class="text-danger" id="categoryIdSpan"></span>
                </div>
                <div class="form-floating mb-3">
                    <textarea asp-for="Comment" class="form-control" 
                        placeholder="Comment" maxlength="25"></textarea>
                    <label asp-for="Comment">Comment</label>
                </div>
                <button id="incomeSubmit" type="submit" class="w-100 btn btn-lg btn-primary">Add</button>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }

    <script src="~/js/preventCharactersInNumberField.js"></script>
    <script src="~/js/replaceDotsToCommas.js"></script>
    <script src="~/js/amountValidation.js"></script>
    <script src="~/js/dateValidation.js"></script>
    <script src="~/js/incomeFormValidation.js"></script>
}